
 #url {
 	opacity: 0.5;
 	z-index: -1;
 	width: 100vw;
 	height: 100vw;
 	position: fixed;
}

/*body{
	border: solid
	background-color:#FBCC0C  ;
	padding-top: 0px;
}*/

#main{
	
	position: relative;
	width: 95%;
	position: absolute;
	text-align: center;
	border: solid 1px red;
}


.imagediv{
	display: inline-block;
	
	height: auto;
	width: 500px;
	
	/*align-self :center;*/
	/*display: flex;*/



}
#imageid{
	height: 300px;
	width: 300px;
	padding: 50px;
	border-radius: 20%;
	opacity: 1;
	
}
ul{
	height: 150px;
	position: center;
	background-color: ;
	margin-left: 50px ;
	/*margin-top: 50px;*/

}
h2{
	margin-left: 50px
}
#pagetitle {
	display: flex;
	justify-content: center; 
	font-size: 50px;
	margin-top: 0px;
	border: solid;

	
}

#logo{
	float: left ;
}

/*#goback{
	position: relative;
	margin-top: 450px;
}*/
body{
	position:flex;
}